<h1  align="center"><b> Parte 1: Tratamento de Dados </b></h1>

`Objetivo Geral:` Importar os dados pluviométricos do munícipio de São Paulo e realizar o tratamento dos dados para que possam ser utilizados na análise exploratória.

`Dados:` Os dados foram retirados do [Banco de Dados Hidrológicos](http://www.hidrologia.daee.sp.gov.br/) do Portal do Departamento de Águas e Energia Elétrica do Estado de São Paulo (DAEE) no dia 21/12/2023.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

<h2 align="center"><b> Análise Inicial </b></h2>

`Objetivo da Etapa:` Importar os dados e realizar uma análise inicial para verificar e corrigir os problemas. Abrindo o arquivo podemos perceber diversos problemas:
1. `Linhas de Cabeçalho:` Devemos Remover na Importação.
2. `Vírgula como Separador Decimal ` Podemos remover como no Projeto 1, transformando ',' em '.' e converter para float
3. `Dados Faltantes: ` Quando não há dados, o DAEE coloca '---' no lugar, devemos substituir por NaN.
4. `Formato da Data não é Conveniente:` Reorganizar os Dados


<h2 align="center"><b> Primeira Opção </b></h2>
&emsp;&emsp; Vou resolver esses problemas de duas formas diferentes para praticar. Dependendo do problema, uma forma pode ser mais conveniente que a outra. A primeira opção é a seguinte:

In [59]:
tabela_chuva = pd.read_csv('./Chuva Mensal.csv', sep = ';', skiprows = 10, decimal = ',', skipfooter = 1, na_values = '---', engine = 'python')

In [63]:
display(tabela_chuva)

,Ano,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
0,1985,184.9,242.9,230.0,59.0,126.2,14.6,4.0,21.8,126.1,71.1,111.3,155.2
1,1986,199.6,221.0,218.7,106.5,113.1,3.9,30.3,NaN,34.5,60.7,242.5,389.9
2,1987,525.8,NaN,161.3,98.1,293.8,183.9,11.8,30.9,80.2,84.8,72.7,152.1
3,1988,268.7,224.4,189.2,175.1,224.9,58.6,1.3,0.2,28.4,173.9,100.2,289.8
4,1989,312.9,344.3,288.2,66.3,21.7,52.5,150.1,32.9,52.1,80.1,88.0,236.7
5,1990,284.1,196.9,310.1,85.8,77.9,50.6,121.2,76.3,97.2,206.8,116.3,149.8
6,1991,330.7,340.3,522.4,200.3,43.3,96.8,28.2,37.3,101.4,168.0,67.3,237.9
7,1992,129.2,258.5,NaN,87.2,93.5,11.6,40.9,24.7,150.6,219.6,NaN,211.7
8,1993,221.5,225.7,110.0,84.6,133.9,74.7,11.2,40.8,210.1,134.1,125.5,170.5
9,1994,196.9,184.4,231.6,111.4,54.9,30.5,39.2,2.4,1.8,147.6,86.6,276.3
10,1995,373.8,383.1,267.7,73.9,79.7,31.2,46.8,1.5,44.2,202.6,115.1,NaN
11,1996,334.3,376.5,284.5,42.3,21.7,45.1,12.2,41.2,179.4,179.8,87.4,243.9
12,1997,235.0,187.6,57.1,63.2,88.2,124.7,12.5,28.8,118.0,151.8,236.3,217.4
13,1998,231.6,430.1,211.2,56.9,133.8,16.6,16.6,45.5,99.5,203.1,41.5,198.4
14,1999,NaN,339.0,162.3,34.9,47.2,86.3,31.0,0.0,76.9,64.5,76.0,100.4
15,2000,387.7,304.0,190.4,50.0,9.7,9.8,74.0,NaN,120.3,105.5,322.0,281.0
16,2001,283.1,221.9,241.2,28.7,85.0,31.0,31.7,26.9,82.3,213.1,181.6,292.9
17,2002,300.6,173.6,354.8,95.3,137.6,2.3,23.0,41.5,84.0,143.9,201.4,263.7
18,2003,443.4,141.5,250.2,45.5,36.6,20.7,24.5,27.6,41.5,176.7,133.0,89.9
19,2004,188.8,316.9,127.2,160.5,77.4,75.6,105.6,2.2,13.8,120.6,215.5,181.0
20,2005,378.3,95.9,202.1,137.3,177.1,35.1,39.8,11.5,150.3,195.3,96.6,140.1
21,2006,230.9,223.5,407.9,65.4,23.7,34.8,78.6,9.2,86.2,71.9,175.0,353.3
22,2007,208.7,301.0,240.2,67.6,63.1,17.2,134.3,0.1,27.4,167.2,211.7,268.7
23,2008,388.0,136.4,332.8,123.6,80.9,55.7,0.0,52.5,49.9,144.3,125.4,152.9
24,2009,356.4,145.0,73.6,75.3,58.1,28.3,157.7,NaN,198.9,157.4,237.2,294.5
25,2010,549.1,175.4,258.9,116.4,52.8,20.2,78.4,1.2,100.4,73.8,129.2,234.7
26,2011,428.4,349.5,265.1,142.0,40.1,81.3,1.5,49.7,10.7,218.2,73.4,393.7
27,2012,401.5,226.0,165.9,149.1,82.4,NaN,105.5,3.7,31.9,93.9,154.0,623.2
28,2013,321.7,372.1,175.0,103.4,39.4,210.9,168.8,15.3,45.1,110.7,76.6,139.9
29,2014,189.7,236.1,222.9,110.2,71.0,11.5,51.9,20.5,82.1,23.8,209.3,258.0
30,2015,249.3,303.5,265.9,100.4,87.2,25.4,62.7,40.5,280.9,NaN,NaN,221.9
31,2016,242.8,225.2,288.1,92.2,141.4,207.3,0.0,82.2,29.1,116.9,181.2,129.2
32,2017,NaN,NaN,120.8,156.3,166.1,101.6,0.2,53.4,12.0,121.2,174.4,169.6
33,2018,238.2,84.5,NaN,66.4,25.8,15.0,20.5,NaN,72.9,203.4,134.1,258.0
34,2019,NaN,315.5,318.5,172.3,97.3,59.0,195.1,6.7,73.7,75.9,170.8,249.0
35,2020,408.1,363.0,95.5,5.6,13.7,163.8,10.2,62.1,22.9,213.9,162.1,NaN
36,2021,373.3,174.1,137.8,55.7,38.5,15.5,38.0,44.8,NaN,152.8,108.2,247.4
37,2022,418.4,136.3,233.6,40.4,67.3,45.9,8.8,35.2,131.3,117.3,197.7,200.4
38,2023,377.6,452.0,138.2,165.7,43.3,85.2,15.0,NaN,NaN,NaN,NaN,NaN

In [61]:
tabela_chuva.dtypes

Ano            int64
Janeiro      float64
Fevereiro    float64
Março        float64
Abril        float64
Maio         float64
Junho        float64
Julho        float64
Agosto       float64
Setembro     float64
Outubro      float64
Novembro     float64
Dezembro     float64
dtype: object