<h1  align="center"><b> PROJETO 1 - M√âDIA M√ìVEL </b></h1>

`Objetivo:` O objetivo deste projeto √© calcular a m√©dia m√≥vel de novos casos e obtos por Covid em S√£o Jos√© dos Campos.

`Dados:` Os dados foram retirados do reposit√≥rio [dados-covid-sp](https://github.com/seade-R/dados-covid-sp) da Funda√ß√£o Seade no dia 19/12/2023.

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6
tabela_covid = pd.read_csv("Dados Covid SP.csv", sep=";") # Importando os dados

`An√°lise Inicial:` Vamos come√ßar excluindo os dados que n√£o ser√£o utilizados e verificando se h√° algum problema com os dados.

In [10]:
tabela_covid = tabela_covid.loc[tabela_covid['nome_munic'] == 'S√£o Jos√© dos Campos'] # Selecionando apenas os dados de S√£o Jos√© dos Campos
tabela_covid = tabela_covid.drop(['nome_munic', 'codigo_ibge', 'pop'], axis=1) # Removendo colunas desnecess√°rias

In [11]:
display(tabela_covid)
tabela_covid.dtypes

,datahora,casos,casos_novos,casos_mm7d,obitos,obitos_novos,obitos_mm7d,semana_epidem
557,2020-02-25,0,0,"0,000000000000000",0,0,"0,000000000000000",9
1202,2020-02-26,0,0,"0,000000000000000",0,0,"0,000000000000000",9
1847,2020-02-27,0,0,"0,000000000000000",0,0,"0,000000000000000",9
2492,2020-02-28,0,0,"0,000000000000000",0,0,"0,000000000000000",9
3137,2020-02-29,0,0,"0,000000000000000",0,0,"0,000000000000000",9
...,...,...,...,...,...,...,...,...
876467,2023-11-14,136517,30,"23,857142857142858",2418,0,"0,428571428571429",46
877112,2023-11-15,136535,18,"26,428571428571427",2419,1,"0,571428571428571",46
877757,2023-11-16,136538,3,"17,142857142857142",2419,0,"0,571428571428571",46
878402,2023-11-17,136556,18,"16,285714285714285",2419,0,"0,571428571428571",46
879047,2023-11-18,136567,11,"14,142857142857142",2419,0,"0,142857142857143",46

datahora         object
casos             int64
casos_novos       int64
casos_mm7d       object
obitos            int64
obitos_novos      int64
obitos_mm7d      object
semana_epidem     int64
dtype: object

`Tipos de Atributos:`
<br>üîπ object -> strings
<br>üîπ int64: -> inteiros
<br>üîπ float64 -> reais
<br>üîπ complex -> complexos

&emsp;&emsp; As colunas casos_mm7d e obitos_mm7d deveriam ser num√©ricas, mas est√£o sendo reconhecidas como strings. Isso acontece porque esses valores est√£o utilizando v√≠rgula como separador decimal. Para resolver esse problema, vamos substituir a v√≠rgula por ponto e converter para um valor num√©rico.

In [12]:
tabela_covid['casos_mm7d'] = tabela_covid['casos_mm7d'].str.replace(',', '.') # Substituindo v√≠rgula por ponto
tabela_covid['casos_mm7d'] = pd.to_numeric(tabela_covid['casos_mm7d']) # Transformando a coluna casos_mm7d em float

tabela_covid['obitos_mm7d'] = tabela_covid['obitos_mm7d'].str.replace(',', '.') # Substituindo v√≠rgula por ponto
tabela_covid['obitos_mm7d'] = pd.to_numeric(tabela_covid['obitos_mm7d']) # Transformando a coluna obitos_mm7d em float

In [13]:
display(tabela_covid)
tabela_covid.dtypes

,datahora,casos,casos_novos,casos_mm7d,obitos,obitos_novos,obitos_mm7d,semana_epidem
557,2020-02-25,0,0,0.000000,0,0,0.000000,9
1202,2020-02-26,0,0,0.000000,0,0,0.000000,9
1847,2020-02-27,0,0,0.000000,0,0,0.000000,9
2492,2020-02-28,0,0,0.000000,0,0,0.000000,9
3137,2020-02-29,0,0,0.000000,0,0,0.000000,9
...,...,...,...,...,...,...,...,...
876467,2023-11-14,136517,30,23.857143,2418,0,0.428571,46
877112,2023-11-15,136535,18,26.428571,2419,1,0.571429,46
877757,2023-11-16,136538,3,17.142857,2419,0,0.571429,46
878402,2023-11-17,136556,18,16.285714,2419,0,0.571429,46
879047,2023-11-18,136567,11,14.142857,2419,0,0.142857,46

datahora          object
casos              int64
casos_novos        int64
casos_mm7d       float64
obitos             int64
obitos_novos       int64
obitos_mm7d      float64
semana_epidem      int64
dtype: object

In [14]:
tabela_covid.isnull().sum() # Verificando se h√° valores nulos

datahora         0
casos            0
casos_novos      0
casos_mm7d       0
obitos           0
obitos_novos     0
obitos_mm7d      0
semana_epidem    0
dtype: int64